/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans antialiased text-black bg-white tracking-tight selection:bg-black selection:text-white;
}


a, button {
  @apply cursor-w-resize;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) { 
  a, button {
    @apply cursor-pointer !important;
  } 
}

canvas {
  @apply w-full h-auto !important;
}

[data-loader] {
  @apply w-full h-auto !important;
}

/* .home-hero > div {
  @apply sticky top-0;
} */

.archive-list {
  .archive-list__item {
    @apply transition-opacity ease-in-out duration-300;
  }
  
  &:hover {
    .archive-list__item {
      @apply opacity-[35%];
    }
  }
}

.archive-list__item {
  @apply hover:opacity-100 !important;
}

.cover-image {
  img {
    @apply object-cover object-center;
  }
}

.blink:hover {
  animation: blink 0.45s steps(1) 2;
  -webkit-animation: blink 0.45s steps(1) 2;
}
@keyframes blink { 
  0% { opacity: 0; }
  50% { opacity: 1; }
}



.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-container .clock {
  background-size: 100% 100%;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @apply border-[1px] border-black;
}

.clock .hor,
.clock .min,
.clock .sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock .hor .hr {
  @apply bg-black opacity-100 rounded-[2px];
  position: absolute;
  height: 4px;
  width: 1px;
  bottom: 0px;
}

.clock .min .mn {
  @apply bg-black opacity-100 rounded-[2px];
  position: absolute;
  height: 5px;
  width: 1px;
  bottom: 0px;
}


.safari-sticky {
  transform: translate3d(0,0,0);
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.9) !important;
  z-index: 100 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0px !important;
}

.ReactModal__Content {
  padding: 0 !important;
  border: none !important;
  border-radius: 0px !important;
}